* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}


.text-bold{
font-family: DIN-Bold;
}
.subtitle{
font-family: DIN-Italic;
}
.parrafo{
font-family: Helvetica-Regular;
} 
:root{
  --bg-footer: #000000;
  --bg-titular: #5b22af;
  --bg-rose:#ed3d3d;
  --bg-white: #ffffff;
  --color-grey:#706F6F;
  --colo-blue:#324798;
}
.about h3 {
 background: var(--bg-titular);
}
.personaje{
background: var(--bg-titular);
}
.img-personaje{
  width: 18rem;
  height: auto;
}
.content-zoom:hover {
  -webkit-transform: scale(0.2);
  transform: scale(0.8);
  overflow: hidden;
}
.card_hover:hover {
  filter: opacity(0.5);
}
.shadow.lg {
  box-shadow: 0 1rem 3rem;
  transition: all;  
}